/node_modules

# you are welcome to use npm, yarn or pnpm, so we'll ignore all these lock and log files.
package-lock.json
yarn.lock
pnpm-lock.yaml

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
